<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Personal HR Analysis: HR</title>
  <script src='/lib/jquery-3.2.1.min.js'></script>
  <script src='/lib/vue.min.js'></script>
  <script src='/lib/URI-1.18.10.js'></script>
  <script src='/lib/d3.min.js'></script>
  <script>
    $(() => {
        // processes user input
        const model = new Vue({
            el: '#controller',
            data: {
                year: '',
                month: '',
                day: '',
                startHour: '',
                startMinute: '',
                stopHour: '',
                stopMinute: ''
            },
            methods: {
                requestHeartRate: function () {
                    // you cannot use the arrow notation
                    requestHeartRate(
                        this.year,
                        this.month,
                        this.day,
                        this.startHour,
                        this.startMinute,
                        this.stopHour,
                        this.stopMinute);
                }
            }
        });

        // prepares the plot area
        const margin = {
            top: 20,
            right: 20,
            bottom: 30,
            left: 50
        };
        const container = document.querySelector('#plot-container');
        const svg = d3.select('#plot-area');
        svg.attr('width', container.clientWidth);
        svg.attr('height', container.clientHeight);
        const width = container.clientWidth - (margin.left + margin.right);
        const height = container.clientHeight - (margin.top + margin.bottom);
        const g = svg.append('g')
            .attr('transform', `translate(${margin.left}, ${margin.top})`);
        const parseDateTime = d3.timeParse('%Y-%m-%dT%H:%M:%S');
        const x = d3.scaleTime().rangeRound([0, width]);
        const y = d3.scaleLinear().rangeRound([height, 0]);
        y.domain([30, 200]);
        const line = d3.line()
            .defined((d) => d)
            .x((d) => x(d.time))
            .y((d) => y(d.value));
        const path = g.append('path')
            .attr('fill', 'none')
            .attr('stroke', 'steelblue')
            .attr('stroke-linejoin', 'round')
            .attr('stroke-linecap', 'round')
            .attr('stroke-width', 1.0)
            .attr('marker-start', 'url(#circle-marker)')
            .attr('marker-mid', 'url(#circle-marker)')
            .attr('marker-end', 'url(#circle-marker)');
        const xAxis = g.append('g')
            .attr('class', 'axis axis-x')
            .attr('transform', `translate(0, ${height})`)
            .call(d3.axisBottom(x));
        g.append('g')
            .attr('class', 'axis axis-y')
            .call(d3.axisLeft(y));

        // requests the heart rate and renders it
        function requestHeartRate(
            year, month, day, startHour, startMinute, stopHour, stopMinute)
        {
            const uri = new URI('/data/heart-rate.json').query({
                date: `${year}-${month}-${day}`,
                startTime: `${startHour}:${startMinute}`,
                stopTime: `${stopHour}:${stopMinute}`
            });
            $.ajax(uri.toString())
                .done((contents) => {
                    const date = contents['activities-heart'][0].dateTime;
                    let data = contents['activities-heart-intraday'].dataset
                        .map((d) => {
                            d.time = parseDateTime(`${date}T${d.time}`);
                            return d;
                        });
                    x.domain([
                        new Date(year, month - 1, day, startHour, startMinute),
                        new Date(year, month - 1, day, stopHour, stopMinute)]);
                    data = chunkData(data);
                    data = data.map((d) => d.concat([null]));
                    data = Array.prototype.concat.apply([], data);
                    xAxis.call(d3.axisBottom(x));
                    path.datum(data)
                        .attr('d', line);
                });
        }

        function chunkData(data) {
            const MAX_GAP = 15 * 1000;  // in milliseconds
            const chunks = [];
            let chunkStart = 0;
            for (let i = 0; (i + 1) < data.length; ++i) {
                const gap =
                    data[i + 1].time.getTime() - data[i].time.getTime();
                if (gap > MAX_GAP) {
                    chunks.push(data.slice(chunkStart, i + 1));
                    chunkStart = i + 1;
                }
            }
            if (chunkStart < data.length) {
                chunks.push(data.slice(chunkStart, data.length));
            }
            return chunks;
        }
    });
  </script>
  <style type='text/css'>
    #plot-container {
      width: 100%;
      height: 300px;
    }
  </style>
</head>
<body>
  <div id='controller'>
    <form v-on:submit.prevent='requestHeartRate'>
      <label>Date:</label>
      <input v-model='year' placeholder='yyyy' size='5'>-
      <input v-model='month' placeholder='mm' size='3'>-
      <input v-model='day' placeholder='dd' size='3'>
      <label>Start time:</label>
      <input v-model='startHour' placeholder='HH' size='3'>:
      <input v-model='startMinute' placeholder='MM' size='3'>
      <label>Stop time:</label>
      <input v-model='stopHour' placeholder='HH' size='3'>:
      <input v-model='stopMinute' placeholder='MM' size='3'>
      <button type='submit'>Request</button>
    </form>
  </div>
  <div id='plot-container'>
    <svg id='plot-area'>
      <defs>
        <marker id='circle-marker'
            markerWidth='3' markerHeight='3' refX='1' refY='1'>
          <circle cx='1' cy='1' r='1' style='stroke: none; fill: #000000' />
        </marker>
      </defs>
    </svg>
  </div>
</body>
</html>

